version: "3.9"

services: 
  db:
    image: mysql:8.0.23
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - ${DB_PORT}:33060
    volumes:
      - ${DATA_STORAGE_PATH}:/var/lib/mysql
  app:
    image: web-app
    build:
      context: .
      dockerfile: ./webapp/Dockerfile
    restart: always
    environment:      
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      APP_HOST: ${APP_HOST}
      APP_PORT: ${APP_PORT}
      DB_HOST: db
      LOGGING_LEVEL: ${LOGGING_LEVEL}
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - ./webapp/endpoints:/app/webapp/endpoints
      - ./webapp/lib:/app/webapp/lib
      - ./webapp/src:/app/webapp/src
    depends_on:
      - db
    stdin_open: true
    tty: true
  tests:
    image: tests
    build:
      context: .
      dockerfile: ./tests/Dockerfile
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      APP_HOST: app
      APP_PORT: ${APP_PORT}
      DB_HOST: db
      LOGGING_LEVEL: ${LOGGING_LEVEL}
    volumes:
      - ./tests/fixtures:/app/tests/fixtures
      - ./tests/lib:/app/tests/lib
      - ./tests/src:/app/tests/src
    stdin_open: true
    tty: true