version: "3.9"

services: 
  db:
    image: mysql:8.0.23
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - ${DB_PORT}:33060
    volumes:
      - ${DATA_STORAGE_PATH}:/var/lib/mysql
  app:
    image: web-app
    build:
      context: .
      dockerfile: ./src/Dockerfile
    restart: always
    environment:      
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      APP_HOST: ${APP_HOST}
      APP_PORT: ${APP_PORT}
      DB_HOST: db
      LOGGING_LEVEL: ${LOGGING_LEVEL}
    ports:
      - ${APP_PORT}:${APP_PORT}
    volumes:
      - /src:/app/src
      - /lib:/app/lib
    depends_on:
      - db
    stdin_open: true
    tty: true
  tests:
    image: tests
    build:
      context: .
      dockerfile: ./tests/Dockerfile
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      APP_HOST: app
      APP_PORT: ${APP_PORT}
      DB_HOST: db
      LOGGING_LEVEL: ${LOGGING_LEVEL}
    volumes:
      - /tests:/app/tests
      - /lib:/app/lib
    stdin_open: true
    tty: true
volumes:
  mysql-data:
    driver: local