version: "3.9"

services: 
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - ${DB_PORT}:${DB_PORT}
    volumes:
      - mysql-data:/var/lib/mysql
  app:
    image: web-app
    build:
      context: .
      dockerfile: ./src/Dockerfile
    restart: always
    environment:      
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      APP_HOST: ${APP_HOST}
      APP_PORT: ${APP_PORT}
      DB_HOST: ${DB_HOST}
    ports:
      - ${APP_PORT}:${APP_PORT}
    depends_on:
      - db
    stdin_open: true
    tty: true
  tests:
    image: tests
    build:
      context: .
      dockerfile: ./tests/Dockerfile
      args:
        MYSQL_DATABASE: ${MYSQL_DATABASE}
        MYSQL_USER: ${MYSQL_USER}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD}
        APP_HOST: ${APP_HOST}
        APP_PORT: ${APP_PORT}
        DB_HOST: ${DB_HOST}
    depends_on:
      - app
volumes:
  mysql-data:
    driver: local