version: "3.9"

services: 
  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "33060:33060"
  app:
    restart: always
    build:
      context: .
      dockerfile: ./Dockerfile
    image: web-app
    ports:
      - "1234:1234"
    depends_on:
      - db
    stdin_open: true
    tty: true
    volumes:
      - ./:/app
